.signupPage{
    z-index: 99;
    position: fixed;
width: 100vw;
height: 0vh;
background-color: transparent;
backdrop-filter: blur(20px);
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
transition: 500ms;
}
.signupPage::before{
    content: 'Sign-up';
    font-size: calc(30px + 2vw);
    font-weight: 900;
    position: absolute;
    top: 1rem;
    left: 2rem;
    z-index: 99;
    color: var(--text);
}
.signupPage form{
    padding: 5vw 2vw 2vw 2vw;
    width: 80vw;
    height: 80vh;
    background-color: var(--blur-bg-color);
    backdrop-filter: blur(600px);
    display: flex;
    align-items: center;
    flex-direction: column;
}
#closeButton{
    cursor: pointer;
    position: absolute;
    top: 0rem;
    right: 1rem;
    font-size: 4rem;
    font-weight: 900;
    color: var(--text);
}
.dosesDate{
    text-align: center;
}
.inputNumber::-webkit-outer-spin-button,
.inputNumber::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.signupPage form input{
    width: 50vw;
    padding: 10px;
    border: none;
    background-color: var(--white);
    border-bottom: 3px solid var(--text);
    margin: 10px;
    border-radius: 10px;
    color: var(--text);
    transition: 400ms;
}
.signupPage form input:hover{
    padding: 20px;
}
.inputDate{
    width: 10vw;
}