.signupPage{
    z-index: 99;
    position: fixed;
width: 100vw;
height: 100vh;
background-color: var(--white);
backdrop-filter: blur(20px);
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
transform: scale(0);
transition: 500ms;
}

.signupPage form{
    position: relative;
    padding: 10vw 2vw 2vw 2vw;
    width: 80vw;
    height: 70vh;
    background-color: var(--white);
    backdrop-filter: blur(600px);
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.signupPage form::before{
    content: 'Sign-up';
    font-size: calc(30px + 2vw);
    font-weight: 900;
    position: absolute;
    /* top: 1rem;
    left: 2rem; */
    transform: translateY(-80px);
    z-index: 99;
    color: var(--text);
}
.dosesDate{
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
margin: 10px 0;    
}
.dosesDate label{
    color: var(--text);
}
.inputNumber::-webkit-outer-spin-button,
.inputNumber::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
.signupPage form input{
    padding: 10px 100px 10px 10px;
    background-color: var(--white);    border: 1px solid var(--text);
    margin: 10px;
    border-radius: 10px;
    color: var(--text);
    transition: 400ms;
}
#closeButton{
    cursor: pointer;
    position: absolute;
    top: 0rem;
    right: 1rem;
    font-size: 4rem;
    font-weight: 900;
    color: var(--text);
}
.signupPage form input:hover{
    padding: 10px 110px 10px 10px;
}
.inputDate{
    width: 10vw;
}
input:disabled,
input[disabled]{
    background-color: rgb(29, 29, 29);
}